<div>
    <app-tabs>
        <app-tab title="timers">
            <app-timer *ngFor="let timer of timers" init="{{timer}}" (onComplete)="showEndTimerAlert()"></app-timer>
            <button class="add" (click)="showAddTimer();">+</button>
        </app-tab>
        <app-tab title="cronos">
            No implementado los cronometros
        </app-tab>
        <app-tab title="alarms">
            Las alarmas no jalan
        </app-tab>
    </app-tabs>



    <app-alert-view [hidden]="!isAddTimerVisible">
        <div header>
            Agregar timer
        </div>

        <label>Set the number of seconds for your timer</label>
        <input [(ngModel)]="time" type="number">

        <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
        <button (click)="submitAddTimer()">Ok</button>

    </app-alert-view>

    <app-alert-view [hidden]="!isEndTimerAlertVisible">
        <div header>
            La cuenta ha terminado
        </div>

        <div>Cuenta terminada JA JA JA!!!</div>

        <button (click)="hideEndTimerAlert()">Ok</button>

    </app-alert-view>

    <app-simple-alert-view></app-simple-alert-view>


</div>